body{    
    background-image: url('../assets/verde.jpg');
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

a:not(p>a){
    text-decoration: none;
}

a{    
    color: #ffffff;
}

a:hover,#end:hover,i:hover {
    color: #80d65e;
}

i{
    color: #ffffff;
    margin: auto;
    font-size: 4.5vh;
}

h2{
    text-align: center;
    font-size: 2.5rem;
}

h3{
    text-align: center;
    font-size: 2rem;
}

header{
    background-color: #002000;
    color: #008000;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    height: 3rem;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

nav>a{
    font-size: 1.1rem;
}

main{
    background-color: #ffffff25;
    color: #ffffff;
    margin-top: 4.8rem;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section{
    padding-left: 4rem;
    padding-right: 4rem;
}

#art{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#der{
    float: right;
    width: 15%;
    border-radius: 10%;
}

article>table{
    display: flex;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 4rem 1rem;  
}

#separado{
    border-collapse: separate;
    border-spacing: 25rem 1rem;    
}

th{
    background-color: #85b385;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10%;
    padding: 10px;
}

td{
    width: 50%;
}

#grid{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,1fr);
}

#grid>div{
    margin:2rem;
    padding: 2rem;
    background-color: #09360990;
    border: solid 3px #000000;
    border-radius: 20%;    
}

#uno{
    grid-row: 1;
    grid-column: 1;
}

#dos{
    grid-row: 1;
    grid-column: 2;
}

#tres{
    grid-row: 2;
    grid-column: 1;
}

#cuatro{
    grid-row: 2;
    grid-column: 2;
}

.end{
    align-self: flex-end;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 10%;
}

.enlac{
    font-size: 1rem;
}

div:not(.nop)>img{  
    padding: 1rem;
    max-width: 95%;
    margin: auto;
}

.nop>img{    
    padding: 1rem;
    max-width: 100%;
    margin: auto;
}

div:not(.nop){
    border: solid 3px #85b385;
    width: 70%;
    margin: 3rem;
    padding: 1rem;
    text-align: center;
}

#sp{    
    border: solid 3px #85b385;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}
