
body{
    background-color: #0C008A;
    font-family: 'Poiret One', cursive;
    color: #FFFFFF;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}


#menutop{
    background-color: #0C0065;
    display: flex;  
    justify-content: space-between;  
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0.8rem;
    border-bottom: 3px solid #ebf3ff -webkit-box-shadow: 0px 0px 17px 8px #EBF3FF; 
    box-shadow: 0px 0px 17px 8px #EBF3FF;
    width: 95%;
    text-shadow: 0 0 15px #b7a637, 0 0 10px #b7a637;
}

#imagenizq{    
    padding: 1rem;
}

#enlaces{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#formulario{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    background-color: #0C0065;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    text-align: center;
}

#email, #password{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button{
    width: 100%;
    border-radius: 50px;
}

h1{
    text-align: center;
    text-shadow: 0 0 1px #FFFFFF, 0 0 10px #FFFFFF;    
}

h3{
    text-align: left;
    text-shadow: 0 0 1px #FFFFFF, 0 0 10px #FFFFFF;    
}

main{
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}

.fl{    
    width: 30%;
    float: right;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    box-sizing: border-box; 
    box-shadow: 0px 0px 17px 8px #EBF3FF;
}

.fld{    
    width: 10%;
    float: left;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    box-sizing: border-box; 
    box-shadow: 0px 0px 17px 8px #EBF3FF;
}

.fl img, .fld img{
    width: 80%;
}

#der{
    display: flex;
    justify-content: right;
}

section {
    width: 100%;
}

#fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box; 
    box-shadow: 0px 0px 17px 8px #EBF3FF;
    background-color: #c6e5e8;
}

#fotos figure {
    min-width: 250px;
    max-width: 250px;
    margin: 0px;
}

#fotos figcaption{
    box-sizing: border-box;
    text-align: center;
    background-color: #c6e5e8;
    color: #000000;
    font-size: 1.3rem;
    height: 10vh;
    padding: 0.2rem;
}

.doce{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0px;
}

table{
    display: block;
    border-collapse: collapse;
    color: #ffffff;
    overflow-x: auto;
    box-sizing: border-box; 
    box-shadow: 0px 0px 17px 8px #EBF3FF;
}

th{
    background-color: #fff7aa;
    color: #000000;
    text-align: center;
    border: 2px solid #000000;
}

tr{
    width: 15%;
}

td,tr{
    text-align: center;
    border: 2px solid #000000;
    min-width: 220px;
}

td:not(.tablai), th{
    padding: 0.5rem;
}

tbody>tr:nth-child(2n+1){
	background-color: #060041;
}

tbody>tr:nth-child(2n){
	background-color: #170770;
}

figcaption>a{
    text-decoration: none;    
    color: #000000;
}

#tabla img{
    max-width: 230px;
    display: block;
    margin: 0px;
}

#Subir{
    text-decoration: none;
    color: #e6dc59;  
    bottom: 1px;
    right: 30px;
    position: fixed;
    font-size: 3rem;
}