body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Rajdhani', sans-serif;
    background-color: #109CEB33;
    margin-left: 60px;
    margin-right: 60px;
    margin: 0px;
    background-image: url('img/back.jpg');
}

#UP{
    color: #00000000;
}

#Subir{
    color: rgb(2, 72, 104);  
    text-decoration: none;
    bottom: 0px;
    right: 30px;
    position: fixed;
    font-size: 3rem;
}

#menutop{
    background-color: rgb(2, 72, 104);   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.2rem;
    border-bottom: 3px solid lightblue;
    color: white; 
    align-items: center;
    position: fixed;    
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

#izq{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#form{
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap; 
}


#menutop a{
    color: white;
    text-decoration: none;
    padding: 0px 1rem;
    font-size: 1rem;
    margin-right: 1rem;
    width: 10%;
}

#menutop #der a{
    padding: 0px 0.5rem;
}

#todo{  
    background-color: #fffffff5;;
    margin: 4rem;
}

h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 1rem;
}

#general{
    display: flex;
    align-items: center;
}

#contenido{
	width: 49%;
	display: inline-block;
	box-sizing: border-box;
    padding-left: 1rem;
}

#todo img{
	width: 49%;
	box-sizing: border-box;
	display: inline-block;
    padding-left: 2rem;
}

#des{
    padding-left: 1rem;
}

#alimentacion img{
    width: 25%;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

#alimentacion{
    padding-left: 1rem;
    padding-right: 1rem;
}

#multim{
    padding-left: 1rem;
}

#multim div{
    display: flex;
    justify-content: space-around;
}

#multim p{
    text-align: center;
}

