body{
	margin: 0px;
	font-family: 'Playfair Display SC', serif;
	background-color: #c5f6fcfc;
}

h1,h2{
	font-family: 'Rubik Microbe', cursive;
	color: #000000;
	text-align: center;
}

h1{
	font-size: 6rem;
}

h2{
	font-size: 3rem;
}

#tablaAnimales{
	margin-top: 2rem;
	border-collapse: collapse;
	margin-left: 2rem;
	margin-right: 2rem;
}

#tablaAnimales td:not(.desc),th{
	width: 15rem;
	border: 1px solid  #000000;
	padding: 0.2rem;
	text-align: center;
}

.desc{	
	width: 50rem;
	border: 1px solid  #000000;
	padding: 1rem;
	text-align: center;
}

#tablaAnimales tr:nth-child(2n+1){
	background-color: #76ddff;
}

#tablaAnimales th{	
	font-family: 'Playfair Display SC', serif;
	color: #ffffff;
	background-color: #000000;
}

#tablaAnimales td:last-child{
	padding: 0px;
}

#tablaAnimales img{
	width: 15rem;
	vertical-align: middle;
	margin: 0.1rem;
}

#tablaAnimales ul{
	text-align: left;
}
