body{
    background-image: url(../assets/img/Fondo_verde.jpg);
}

a{
    text-decoration: none;
    color: rgb(0, 103, 0);
}

.Grid{
    display: grid;
    grid-template-rows: repeat(2,300px);
    grid-template-columns: repeat(2,1fr);
}

h1{
    text-align: center;
}

img{
    width: 80%;
    padding-left: 10%;
}

#aves{
    grid-column: 1;
    grid-row: 1;
}

#frutas{
    grid-column: 1;
    grid-row: 1;
}

#fantasia{
    grid-column: 1;
    grid-row: 1;
}

#animales{
    grid-column: 1;
    grid-row: 1;
}