/**/
body{
    background-image: url(Fondo_verde.jpg);
    background-color: aqua;
}

#Grid{
    display: grid;
    grid-template-rows: repeat(3,300px);
    grid-template-columns: repeat(5,1fr);
    width: 100%;
}

h1{
    text-align: center;
}

img{
    width: 80%;
}

#a{
    grid-column: 1;
    grid-row: 1;
}

#b{
    grid-column: 1;
    grid-row: 1;
}

#c{
    grid-column: 1;
    grid-row: 1;
}

#d{
    grid-column: 1;
    grid-row: 1;
}

#e{
    grid-column: 1;
    grid-row: 1;
}